.boxwrapper {
  background-color: rgba(100,71,73,255);
  padding: 30px;
}

.cardwrapper {
  text-align: center;
  padding: 35px;
  display: grid;
  place-items: center;
  color: #484849;
}

.location {
  font-size: 35px;
  margin-bottom: 5px;
}

.description {
  font-size: 25px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 45px;
}
