.boxwrapper {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  gap: 25px;
  margin-bottom: 20px;
}

.cardwrapper {
  background-color: rgb(236, 218, 192, 0.95);
  padding: 10px;
  align-content: center;
  border-radius: 20px;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  margin-bottom: 10px;
}

@media only screen and (max-width: 475px) {
  .content {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 600px) {
  .boxwrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 475px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}