@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: radial-gradient(
    circle 995px at 0.5% 50.5%,
    rgb(236, 218, 192, 0.95) 50%,
    rgb(246, 236, 224) 100%
  );
  font-family: "Varela Round", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
