.DTwrapper {
  display: flex;
  align-items: center;
  color: #484849;
}

.homewrapper {
  display: grid;
  max-width: 1000px;
  background: rgb(200, 99, 65, 0.50);
  box-shadow: 0 8px 30px 0 rgba(177, 105, 90, 255);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 30px;
  overflow: hidden;
  color: #484849;
  grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 950px) {
  .homewrapper {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 600px) {
  .homewrapper {
    margin: 0;
    border-radius: 0;
  }
}

.search {
  height: 35px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  color: #484849;
  text-align: right;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

@media only screen and (max-width: 520px) {
  .search {
    width: 100%;
    text-align: center;
  }
}

.errorwrapper {
  max-width: 260px;
  text-align: center;
}

.errormessage {
  margin-bottom: 30px;
}

.headerwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(236, 218, 192);
}

@media only screen and (max-width: 520px) {
  .headerwrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
}